.VideoPlayer-view,
.StreamPlayer-view {
  height: 22rem;
  margin: 3rem;
  position: relative;
}

.thumbnail {
  border: 1px solid #DEDEDD;
  border-radius: 2px;
  max-height: 22rem;
}

.tennis-ball {
  animation: spin 2s linear infinite;
  max-height: 4rem;
  position: absolute;
  right: 30%;
  top: 4rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.StreamPlayer-view p {
  font-size: 20px;
  font-weight: bold;
}
