html,
body,
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #222;
  color: white;
  height: 5rem;
  /*padding: 20px;*/
}

.header-logo {
  font-size: 45px;
  font-family: 'Droid Sans', sans-serif;
  left: 15px;
  position: absolute;
  top: 15px;
}

.header-buttons {
  margin: auto;
  padding-top: 20px;
}

.header-buttons i {
  font-size: 32px;
}
