.VideoPlayer-view {
  height: 34rem !important;
}

.VideoPlayer-button_row {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 38%;
  width: 100%;
}

.VideoPlayer-button_row > span {
  cursor: pointer;
}

.prev, .next {
  font-size: 5rem;
}

.disabled {
  color: lightgrey;
}

@media (max-width: 900px) {
  .VideoPlayer-button_row {
    justify-content: space-around;
    margin-top: 1rem;
    position: static;
  }
}
